.container {
  max-width: 1232px;        /* максимальная ширина */
  margin: 0 auto;           /* центрирует контейнер */
  padding: 65px 15px;       /* отступы слева и справа — как у вас в main.css */
  background-color: #2C2A68;;  /* ваш глобальный белый фон */
  min-height: 100vh;        /* чтобы занимал всю высоту, если нужно */
}
